.root {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.label {
  color: var(--color-primary);
}

.value {
  color: var(--color-primary);
}
