.root {
  margin-bottom: 1.25rem;
}

.label {
  display: block;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: var(--color-primary);
  text-transform: uppercase;
  letter-spacing: 0.02em;
}
