.card {
  border: 1px solid var(--color-border);
  border-radius: var(--radius-lg);
  overflow: hidden;
  background: var(--color-background);
}

.image {
  aspect-ratio: 1;
  width: 100%;
}

.name {
  height: 1.125rem;
  width: 80%;
  margin: 1rem 1rem 0;
}

.price {
  height: 1.125rem;
  width: 40%;
  margin: 0.5rem 1rem 1rem;
}

.button {
  height: 2.75rem;
  width: calc(100% - 2rem);
  margin: 0 1rem 1rem;
}
