.root {
  margin-top: 2rem;
  font-size: 1rem;
  line-height: 1.6;
  color: var(--color-primary);
}

.root :global(p) {
  margin: 0 0 0.75em;
}

.root :global(p:last-child) {
  margin-bottom: 0;
}

.root :global(ul),
.root :global(ol) {
  margin: 0 0 0.75em;
  padding-left: 1.5em;
}

.root :global(strong) {
  font-weight: 600;
}
